.tv_shows {
    padding-top: 10vh;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
    }
}