$primary-text-color: #ff4500;
$secondary-text-color: #48ee3b;


.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.top_rated_movies_div {
    width: 95%;
    margin: auto;
}

.top_rated_movies_div {
    padding-top: 0;
}

.top_rated_movies_heading {
    color: $primary-text-color;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.top_rated_movies_heading::after {
    content: "";
    border-bottom: 1px solid grey;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
}

.top_rated_movies_inner_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}