$primary-text-color: #ff4500;
$secondary-text-color: #48ee3b;

.movie_poster_loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.movie_poster_heading {
    color: $primary-text-color;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
}

.movie_poster_heading::after {
    content: "";
    border-bottom: 1px solid grey;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
}

.movie_poster {
    position: relative;
    flex-basis: 47%;
    margin-bottom: 50px;
    width: 47%; 

    &_card {
        width: 100%;
        cursor: pointer;       

        &:hover .play-icon-div {    
            display: flex;
        }
    }

    &_img {
        width: 100%;
        border-radius: 15px;
    }

    &_content {
        margin-left: 5px;
        margin-top: 5px;
        
        .movie_poster_title {
            font-weight: 400;
            font-size: 20px;
            color: #ffffff;
            text-decoration: none;
            width: 100%;
            display: block;
            height: 25px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.movie_poster_genre_div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-top: 5px;

    .movie_poster_genre {
        margin-right: 2%;
        font-size: 16px;
        color: #ff4500;
        font-weight: 400;
    }

    .movie_poster_genre::after {
        content: ", ";
    }

    .movie_poster_genre:last-child::after {
        content: "";
    }
}

.movie_poster_percent {
    position: absolute;
    border-radius: 50%;
    border: 2px solid #66ff00;
    background-color: rgba(26, 25, 31, 0.7);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10%;
    left: 10%;
    letter-spacing: 0.4px;
    font-size: 13px;
    font-weight: 600;

    &_num {
        color: #ffffff;
    }
}

.fa-play {
    background-color: #ffffff;
    color: #ff0000;
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    top: 35%;
    left: 40%;
}

.play-icon-div {
    display: none;
}


@media only screen and (max-width: 950px) and (min-width: 600px) {

    .movie_poster {
        flex-basis: 23.5%;
        width: 23.5%;
    }

    .fa-play {
        width: 47px;
        height: 47px;
        font-size: 20px;
        top: 30%;
        left: 40%;
    }

}


@media only screen and (min-width: 950px) {

    .movie_poster {
        flex-basis: 15%;
        width: 15%;
        margin-right: 2%;
    }

    .movie_poster:nth-child(6n + 6) {
        margin-right: 0;
    }

    .fa-play {
        width: 40px;
        height: 40px;
        font-size: 16px;
        top: 29%;
        left: 35%;
    }

}